@media all and (max-width: 1024px) {
  img {
    width: 50%;
    height: 50%;
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  body{
    margin-top: 50px;
  }
  img {
    width: 50%;
    height: 50%
    text-align: center;
  }
  
  .but {
    margin: 0;
    text-align: center;
  }
  #cost {
    margin: 0; 
   }
  .header{
      padding: 0px;
      text-align: center;
      color: white;
      font-size: 20px;
      margin-bottom: 0px;
      background-color: #212121;
    }

}

@media only screen and (max-width: 600px) {
  body{
    margin-top: 0px;
  }
  img {
    width: 15%;
    height: 15%
    text-align: center;
  }
  #label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 50px;
  }
  
  .but {
    margin: 0;
    text-align: center;
  }
  #cost {
   
    margin-bottom: 0;
   }
  .header{
      padding: 0px;
      text-align: center;
      color: white;
      font-size: 20px;
      margin-bottom: 0px;
      background-color: #212121;
    }
  .glow-on-hover{
    margin-bottom: 0px;
  }

}
/*end mediaqueries*/

header {
  font-family: 'Ranchers', cursive;
  text-align: center;
}
body {
  font-family: 'Ranchers', cursive;
  letter-spacing: 1px;
  background-color: #1C3C86;
  background-image: url("img/light.png");
}

h1 {
  color: white;
  letter-spacing: 5px;
  
}

.header {
  margin: auto;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  background-color: #212121;
  width: 200px;
}
.but {
  margin: 50px;
  text-align: center;
  display: flex;
 justify-content: center;
}
img {
  width: 50%;
  height: 50%;
  text-align: center;
}
button {
  margin: 20px;
}
#cost {
  font-size: 30px;
  margin-bottom: 20px;
}
#label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 60px;
}

.glow-on-hover {
  font-size: 20px;
  width: 120px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: 'Ranchers', cursive;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}
.glow-on-hover:disabled {
  color: white;
  background: #304B8A;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
 
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow-on-1 {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  margin: 20px;
}

.glow-on-1:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
}

.glow-on-1:active {
  color: #000;
}

.glow-on-1:active:after {
  background: transparent;
}

.glow-on-1:hover:before {
  opacity: 1;
  -webkit-animation: rotate 1s linear infinite;
}

.glow-on-1:active {
  opacity: 1;
  -webkit-animation: zoom 1s linear infinite;
}

.glow-on-1:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.buttons {
  text-align: center;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) ;
  }
  50% {
    -webkit-transform: rotate(180deg) ;
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

#click:hover {
  -webkit-animation: rotate 1s linear infinite;
}

#click:active {
  -webkit-animation: zoom 1s linear infinite;
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg) scale(1, 1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1, 1);
  }
}